<!DOCTYPE html>
<html>
    <style>
        #image{
            height: 200px;
            width: 200px;
            border-radius: 25px;
            box-shadow: 2px 2px 5px;
        }
</style>
    <body>
        <img id="image"src="punit.jpg" />
    </body>
</html>